kafka-python==1.3.2.post9
Fabric==1.8.1
PyStaticConfiguration==0.9.0
PyYAML==3.11
argcomplete==0.8.1
boto==2.38.0
cffi==1.1.2
cryptography==0.8.2
ecdsa==0.11
enum34==1.0.4
futures==3.0.1
jsonschema==2.4.0
kazoo==2.2
ndg-httpsclient==0.3.3
paramiko==1.16.0
pyOpenSSL==0.15.1
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
requests==2.7.0
requests-futures==0.9.5
retrying==1.3.3
setproctitle==1.1.8
simplejson==3.6.5
six==1.9.0
wsgiref==0.1.2
