# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: kafka-utils-ci
on: [pull_request]

jobs:
  tox:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        toxenv:
          - py36-unittest
          - py36-kafka10-dockeritest
          - py36-kafka11-dockeritest
    env:
      PIP_INDEX_URL: https://pypi.python.org/simple
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox==3.2 tox-pip-extensions==1.3.0
      - name: Run tests
        run: tox -i https://pypi.python.org/simple -e ${{ matrix.toxenv }}
